body{
    background-color: black;

}
div{
    background-color: yellowgreen;
    text-align: center;
    border-radius: 15px;
}
i{
    font-size: 80px;
}

.navver{
    background: cyan;
    text-align: center;
    border-radius: 30px;
}

.image-bg{ 

    background-image: url(download.jpg);
}